<nav aria-label="パンくず">
  <ol>
    {{#each breadcrumb}}
    <li>
      {{#if this.url}}
      <a href="{{this.url}}">{{this.label}}</a>
      {{else}}
      <span>{{this.label}}</span>
      {{/if}}
    </li>
    {{/each}}
  </ol>
</nav>
