<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  {{> head}}
</head>
<body>
  {{> header}}
  <main class="site-main">
    <div class="container">
      {{{content}}}
    </div>
  </main>
  {{> footer}}
</body>
</html>
